* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.first {
  background-color: rgb(31, 145, 238);
  padding-bottom: 5px;
}

.card-img {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 10px;
}

.col-md-4 {
  font-size: 0;
}

.table {
  margin-top: 9px;
  text-align: center;
  justify-content: center;
  display: inline-flex;
}
h1,
h2 {
  overflow-y: hidden;
}

.delete-btn,
.edit-btn {
  border: none;
  margin-top: 10px;
  display: inline;
  margin-right: 10px;
}
